@import "variables.scss";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, _sans-serif;
    padding: 70px 0 0 0;
    background-color: #FFF;
    color: #333;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
font {
    font-weight: normal;
    text-transform: none;
    speak: none;
}
h1  {
    color: #FFF;
    text-decoration: none;
}
a, a:active, a:link {
    color: #000;
    text-decoration: none;
}